@import "_footer";

.footer {
  width: 100%;
  max-width: 1100px;
  margin-bottom: 100px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.footer-info,
.footer-menu {
  width: 50%;
}

.footer-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-right: 100px;
}

.footer-info-subtitle {
  font-size: 16px;
  letter-spacing: 5px;
  color: #146ebe;
  font-weight: bold;
  margin-bottom: 40px;
}

.footer-info-title {
  font-size: 30px;
  letter-spacing: 1px;
  line-height: 120%;
  font-weight: bold;
  color: #183153;
  width: 80%;
  margin-bottom: 30px;
}

.footer-info-elements {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 25px;
  p {
    line-height: 140%;
    a {
      color: #146ebe;
      text-decoration: underline dotted 1px;
      transition: all 0.15s linear;
      cursor: pointer;
      &:hover {
        color: #9bd9f3;
        text-decoration: underline;
      }
    }
  }
}

.footer-info-elements-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 18px;
  span {
    font-size: 13px;
    font-weight: bold;
    border-radius: 9px;
    padding: 6px 14px;
    margin-right: 7px;
  }
  h1 {
    font-size: 16.5px;
    font-weight: bold;
  }
}

.footer-info-menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  user-select: none;
}

.footer-info-icon {
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  span:first-child {
    margin-right: 10px;
    i {
      color: #146ebe;
      font-size: 24px;
    }
  }
  span:last-child {
    &:hover {
      color: #146ebe;
    }
    text-decoration: underline;
  }
}

.footer-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.footer-menu-main {
  @include FooterMenu(100%, 200px, #e599f7, purple);
}

.footer-menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  &:nth-child(2) {
    .footer-menu-sub:nth-child(1) {
      @include FooterMenu(49%, 100px, #ffd43b, #fab005);
    }
    .footer-menu-sub:nth-child(2) {
      @include FooterMenu(49%, 100px, #74c0fc, rgb(20, 110, 190));
    }
  }
  &:last-child {
    .footer-menu-sub:nth-child(1) {
      @include FooterMenu(49%, 100px, #63e6be, #0ca678);
    }
    .footer-menu-sub:nth-child(2) {
      @include FooterMenu(49%, 100px, #b197fc, #7048e8);
    }
  }
}
